	@charset "UTF-8";
	/* @font-face { font-family: "標楷體2"; src: local('Times New Roman'); unicode-range: U+00-024F; } */
	@font-face { font-family: "標楷體2"; src: local('標楷體'); }
	@font-face { font-family: "標楷體2"; src: url('revised-dict.woff'), local('標楷體');
	 /* unicode-range: U+20000-2FFFF, U+3CB2, U+3735, U+436A, U+F0000-FFFFF; */
	}



	/* entypo */
	[class*="entypo-"]:before { font-family: 'entypo', sans-serif; }


	:root 
	{
		--colorO :#B45E13; /* 橘 */
	}
	 body { margin:0px; }
	 phon, code { border: 0px dashed #ccc; border-radius: 0.3em; padding-top: 0.5em; 
	 font-family:'標楷體2'; white-space:nowrap; font-size:0.9em; }
	 phon>sup, code>sup { position:relative; font-size:0.7em; left:-0.6em; top:-0.6em;
	 margin-top: 0.5em; margin-right:-0.5em; display: inline-block; text-indent:0; }
	/* view */

	#view {  margin-bottom:1em; font-size:1.5em; }

	#view table { width:100%; border-spacing:0 0.5em; border-collapse:separate; }
	#view tr { margin-top:0.3em; }
	#view th { width:6em; padding:1em; background-color:var(--colorO); color:#ffffff; vertical-align:top; white-space:nowrap; }
	#view td { padding:1em; background-color:#ffffff; font-family:標楷體2, '標楷體', "BiauKai", "DFKai-sb", "cwTeXKai"; }

	#view td ol { margin:0; }
	#view td>div { line-height:1.5; }
	.view mark { background:initial; color:var(--colorR); }
	.view b { display:inline-block; margin:0.2em 0.2em 0 0; padding:0.1em; line-height: 1;
	 border-radius:0.2em; background-color:#CC0000; color:#ffffff;
	 vertical-align:middle; font-family:微軟正黑體, 正黑體; }

	.copy { margin-bottom:1em; text-align:center; background:#f2f2f2; padding:1em; line-height:1; color:#000000; }
	.copy>div { display:inline-block; }
